.role-port {
  margin-bottom: 0.7rem;
}
.list-port {
  display: flex;
  gap: 5rem;
}
.header {
  min-width: 100px;
}
.educations:first-child {
  margin-bottom: 0.5rem;
}
.works:first-child {
  margin-bottom: 0.5rem;
}
.skill-list {
  list-style-position: inside;
}
